.wrapper-main-search {
  height: 45px;
  max-width: 1600px;
  min-width: 421px;
  border: 0;
  border-radius: 5px;

  margin-bottom: 15px;
  padding: 0 10px;

  background: #1D1932;
  color: #68676E;

  display: flex;
  align-items: center;
}

input {
  color: #68676E;
  background: transparent;
  border: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  width: 100%;
  margin-left: 10px;
}

img {
  width: 25px;
  height: 24px;
  flex-shrink: 0;
  user-select: none;
}

.button-search {
  text-align: center;
  border-radius: 9px;
  background: #6f4ff2;
  color: #fff;
  font-size: 13px;
  width: 170px;
  height: 34px;
  margin-bottom: 15px;

  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen;
  transition: all 1s;

  &:hover {
    font-size: 15px;
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    text-shadow:
      -400px 0 tomato,
      400px 0 yellowgreen,
      0 0 skyblue;
    border-width: 3px;
    //border-style: outset;
    border-color: #dd03e4;
    cursor: cell;

  }
}

.found-elements {
  font-size: 14px;
  font-weight: 400;
  user-select: none;
  margin-left: 10px;
  align-self: center;
  color: #68676E;
}
.button-and-text {
  display: flex;
}

#column {
  background-color: red;
}

#column-active {
  background-color: blue;
}

.box-border {
  height: 47px;
  max-width: 1600px;
  min-width: 421px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 1px;

    &:hover {
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      background-size: 400%;
      animation: glowing 20s linear infinite;
      transition: opacity .3s ease-in-out;
      backdrop-filter: blur(5px);
      @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
      }
    }
}
